

/* for all */
body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.btn-original {
  color: #411510;
  background-color: #e7e1e1;
  border-color: #b6b0b0;
} 
.btn-original:hover {
  color: #140200;
  background-color: #e74c3c;
  border-color: #e74c3c;
} 

/* for navbar */
.navbar {
  min-height: 35px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 35px;
}
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
  }
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* for header*/
#header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* for breadcrumb */
.breadcrumb {
  background: #cccccc;
  color: #333333;
}
.breadcrumb a{
  color: #333333;
}

/* for section */
#main .list-group a:hover,
#main .list-group a:focus{
  background-color: #e74c3c !important;
  color: #ffffff !important;
  border-right: 6px solid #c0392b;
}
/* for table */
.btn-danger {
  background: #c0392b;
  color: #ffffff;
}
.btn-danger:hover {
  background: #ffbbbc;
  color: #c0392b;
}

/* for footer */
#footer {
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px; 
}



/**/
#login {
  margin-top: 30px;
}


  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffbbbc;
      background-color: #c0392b;
    }
  }

/* OTHERS*/

/* for active */
.main-color-bg {
  background-color: #e74c3c !important;
  color: #ffffff !important;
}
/* for center align */
.dash-box {
  text-align: center;
}

/* Login Page*/

.container-one-login {
  margin-top: 150px;
  width: 500px;
  height: 250px;
}
.container-one-login img{
  width: 50px;
  height: 50px;
}
.container-one-login h3{
  color: #411510;
}
.container-one-login .input-group {
  margin-bottom: 10px;
}

.form-horizontal .form-control{
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-horizontal .btn-CRUD{
  margin-top: 20px;
}
#map {
  width: 900x;
  height: 400px;

}


  